extends ./index.jade

block content
    - prevPage = _.find(pages, function(p) {return p.metadata.sequence === page.metadata.sequence - 1})
    - nextPage = _.find(pages, function(p) {return p.metadata.sequence === page.metadata.sequence + 1})

    h2.header= page.title
    != page.html

    if page.metadata.slug == 'field-types'
        - fieldsByCat = _.chain(contents.fieldtypes).sortBy('metadata.title').groupBy('metadata.category').value()
        each fields, cat in fieldsByCat
            h3.header= cat
            each field in fields
                h4.header= field.title
                field.metadata.category

    if prevPage
        .left
            a.btn.waves-effect.waves-light(href=prevPage.url)
                = prevPage.title
                i.material-icons.left skip_previous

    if nextPage
        .right
            a.btn.waves-effect.waves-light(href=nextPage.url)
                = nextPage.title
                i.material-icons.right skip_next
